$color-de-fondo: white;
$color-titulos: green;
$color-secundario: red;

@import "./base";
@import "./components/footer";
@import "./pages/contacto";
@import "./pages/index";
@import "./pages/asesoramiento";
@import "./pages/servicios";
@import "./pages/preguntas-frecuentes";

